build/bin
node_modules
frontend/dist
frontend/components.d.ts
frontend/wailsjs/

# Build-time artifacts
build/windows/installer/resources/*.zip
build/windows/installer/resources/sumatra_tmp/
build/windows/installer/tmp/
build/windows/installer/wails_tools.nsh
frontend/package.json.md5

